
@media (max-width: 500px) {
    html {
        font-size: 100%;
    }
    .headerImgContainer {
        display: grid;
        height: 85px;
        width: 55vw;
        /* justify-content: center; */
        /* align-content: center; */
        border: 2px dashed rgba(114, 186, 94, 0.35);
    }
  }
  

@media (min-width: 500px) {
    .headerImgContainer {
        display: grid;
        height: 210px;
        width: 25vw;
        /* justify-content: center; */
        align-content: center;
        border: 2px dashed rgba(114, 186, 94, 0.35);
    }
    .headerImgContainer > div {
        height:100%;
        width: 100%;
    }
}