@media (max-width: 500px) {
    .gridStyler {
        display: grid;
        grid-template-columns: 250px;
        grid-template-rows: none;
        justify-content: center;
    }
  }
  
@media (min-width: 500px) {
    .gridStyler {
        display: grid;
        grid-template-columns: repeat(3, 200px );
        grid-template-rows: repeat(3, auto);
        grid-gap: 1px 9px;
        justify-content: center;
    }
}
